.agendamento-container{
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agendamento-container h1{
    color: #6e0000;
}

.agendamento-container h2{
    color: #6e0000;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    width: 80%;
}

.agendamento-container .section-choose-appointment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
}

.agendamento-container .section-choose-appointment .horario-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

.agendamento-container .section-choose-appointment .horario-container .title span{
    font-size: 25px;
    color: #6e0000;
}

.agendamento-container .section-choose-appointment .horario-container .title #finish{
    margin-left: -30px;
    margin-right: 60px;
}

.agendamento-container .section-choose-appointment .horario-container .title #name_doctor{
    margin-left: -130px;
}

.agendamento-container .section-choose-appointment .horario-container div{
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #6e0000;
}

.agendamento-container .section-choose-appointment .horario-container section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.agendamento-container .section-choose-appointment .horario-container section button{
    width: 120px;
    height: 60px;
    font-size: 15px;
}